{% load static %}
<!DOCTYPE html>
<html>
<head>
	<title>CSS ELEMENTS</title>
    <link rel="stylesheet" href="{% static 'css/c1.css' %}">
</head>
<body>
	<div id="A" align="center">
	<a href="#B"target=_block>M.S DHONI</a>
	<a href="#C"target=_block>KOHLI</a>
	<a href="#D"target=_block>ROHIT</a>
	<a href="#E"target=_block>RAINA</a>
	<a href="#F"target=_block>HARDIK</a>
	</div>
	<h1>INDIAN CRICKET TEAM</h1>
	<img src="{% static 'images/dhoni.jpg' %}" width="220px" height="150px">
	<img src="{% static 'images/viratkohli.jpg' %}" width="270px" height="150px">
	<img src="{% static 'images/rohitsharma.jpg' %}" width="250px" height="150px">
	<img src="{% static 'images/raina.jpg' %}" width="250px" height="150px">
	<img src="{% static 'images/hardik.jpg' %}" width="250px" height="150px">
<div id="B">
		<h1>M.S DHONI</h1>
	<p>
	M.S. Dhoni, in full Mahendra Singh Dhoni, (born July 7, 1981, Ranchi, Bihar [now Jharkhand] state, India), Indian cricketer whose rise to prominence in the early 21st century culminated in his captaincy of the Indian national team that won the one-day Cricket World Cup in 2011.
	Dhoni made his international debut in 2004. His talent with the bat came to the fore in an innings of 148 runs against Pakistan in his fifth international match. Within a year he joined the India Test team, where he quickly established himself with a century (100 or more runs in a single innings) against Pakistan. Despite his inexperience, Dhoni took over the captaincy of the one-day side in 2007 and led India to the Twenty20 (T20) world title. Series wins over Australia and Sri Lanka, among others, moved India to the top of the International Cricket Council (ICC) Test rankings for the first time in December 2009.
	</p>
		<img src="{% static 'images/dhoni.jpg' %}" width="600px" height="300px">
		<img src="{% static 'images/dhoni2.jpg' %}" width="600px" height="300px">
	<p>
	Dhoni was honoured for his play with the ICC One Day International Player of the Year Award in 2008 and 2009. In the 2011 one-day World Cup, Dhoni’s dashing innings of 91 not out—in front of a home crowd in Mumbai—paved the way for India’s victory over Sri Lanka in the final. He also led India to an appearance in the semifinals of the 2015 Cricket World Cup. Dhoni stopped serving as India’s captain in 2017, having led his country in 331 international matches, the most for a captain in the sport’s history. Three years later he retired from international competition.
	</p>
</div>
<div id="C">
		<h1>VIRAT KOHLI</h1>
	<p>
	Virat Kohli born 5 November 1988) is an Indian international cricketer and former captain of the India national cricket team. Widely regarded as one of the greatest batsmen of all time, Kohli plays as a right-handed batsman for Royal Challengers Bangalore in the Indian Premier League and for Delhi in domestic Indian cricket. With 40 wins out of 68 tests, Kohli is India's most successful test captain, and one of the most successful test captains of all time, behind only Graeme Smith, Ricky Ponting and Steve Waugh.
	</p>
		<img src="{% static 'images/viratkohli.jpg' %}" width="600px" height="300px">
		<img src="{% static 'images/viratkohli1.jpg' %}" width="600px" height="300px">
	<P>
	Kohli made his Test debut in 2011. He reached the number one spot in the ICC rankings for ODI batsmen for the first time in 2013.  He has won Man of the Tournament twice at the ICC World Twenty20 (in 2014 and 2016). He is also the leading run scorer of all time in T20 Internationals as well as T20 World Cups.Kohli has been the recipient of multiple awards– most notably the Sir Garfield Sobers Trophy (ICC Men's Cricketer of the Decade): 2011–2020; Sir Garfield Sobers Trophy (ICC Cricketer of the Year) in 2017 and 2018; ICC Test Player of the Year (2018); ICC ODI Player of the Year (2012, 2017, 2018) and Wisden Leading Cricketer in the World (2016, 2017 and 2018). At the national level, he was awarded the Arjuna Award in 2013, the Padma Shri under the sports category in 2017 and the Rajiv Gandhi Khel Ratna award, the highest sporting honour in India, in 2018.
	</P>
</div>
<div id="D">
		<h1>ROHIT SHARMA</h1>
	<p>
	Rohit Gurunath Sharma (born 30 April 1987) is an Indian international cricketer and the current captain of the Indian cricket team. Widely considered as one of the best opening batter of all time,[2] he plays as a right-handed batsman for Mumbai Indians in IPL and for Mumbai in domestic cricket. Rohit Sharma also captains Mumbai Indians in IPL and the team has won 5 tittles under his leadership, most by any team.
	</p>
		<img src="{% static 'images/rohitsharma.jpg' %}" width="600px" height="300px">
		<img src="{% static 'images/rohitsharma1.jpg' %}" width="600px" height="300px">
	<p>Sharma currently holds the world record for the highest individual score (264) in a One Day International (ODI) match and is the only player to have scored three double-centuries in ODIs and also holds the record for scoring most hundreds (five) in a single Cricket World Cup, for which he won the ICC Men's ODI Cricketer of the Year award in 2019. Sharma has received two national honours, the Arjuna Award in 2015 and the prestigious Major Dhyan Chand Khel Ratna in 2020.
	</p>
</div>
<div id="E">
		<h1>RAINA</h1>
	<p>
	Suresh Raina(pronunciation (help·info); born 27 November 1986) is an Indian former international cricketer.He occasionally served as stand-in captain for Indian men's national cricket team during the absence of the main captain. He played for Uttar Pradesh (UP) in domestic cricket circuit. He is an aggressive left-handed middle-order batsman and an occasional off-spin bowler. He is the second-youngest player ever to captain India. He was the captain of Gujarat Lions in the Indian Premier League (IPL) , and he also served as vice-captain of the Chennai Super Kings. He is the first Indian batsman to hit a century in all three formats of international cricket.
	</p>
		<img src="{% static 'images/raina.jpg' %}" width="600px" height="300px">
		<img src="{% static 'images/raina1.jpg' %}" width="600px" height="300px">
	<p>
	In 2000, Raina decided to play cricket and subsequently moved from his hometown Muradnagar, Ghaziabad district to Lucknow, to attend the Guru Gobind Singh Sports College, Lucknow. He rose to become the captain of the Uttar Pradesh U-16s and came to prominence amongst Indian selectors in 2002 when he was selected at the age of 15 and a half years for the U-19 tour to England, where he made a pair of half-centuries in the U-19 Test matches.He toured Sri Lanka later that year with the U-17 team
	</p>
</div>
<div id="F">
		<h1>HARDIK PANDYA</h1>
	<p>
	Hardik Himanshu Pandya (born 11 October 1993) is an Indian international cricketer who plays for the Indian cricket team in ODI and Twenty20 International (T20I) format as an All-rounder. Pandya also captained India for 3 matches in the absence of senior players. Pandya has acted as stand-in captain in T20Is for India. Pandya bats right-handed and bowls right-arm fast-medium.
	</p>
		<img src="{% static 'images/hardik.jpg' %}" width="600px" height="300px">
		<img src="{% static 'images/hardik1.jpg' %}" width="600px" height="300px">
	<p>
	Hardik Pandya was born on 11 October 1993 in Surat, Gujarat. His father, Himanshu Pandya, ran a small car finance business in Surat which he shut down and moved to Vadodara when Hardik was five to provide his sons with better cricket training facilities. Himanshu Pandya worked as Loan agent in Vadodara.[3] He enrolled his two sons into Kiran More's cricket academy[which?] in Vadodara.[4] Lacking finances, the Pandya family lived in a rented apartment in Gorwa, with the brothers using a second-hand car to travel to the cricket ground
	</p>
</div>
</body>
</html>